######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

coverage.txt
lint-report.xml

######################
# Mac OSX
######################
.DS_Store
.svn
examples